{
    "name" : "{{{request.name}}}",
    "description": "",
    "steps": [
        {
            "body": "{{{body.url_encoded_body}}}",
            "form": {},
            "headers": {
                {{#headers.has_headers}}
                {{#headers.header_list}}
                    "{{{header_name}}}": "{{{header_value}}}",
                {{/headers.header_list}}
                {{/headers.has_headers}}
            }
            "url": "{{{request.url}}}",
            "step_type": "request",
            "auth": {}
            "data": "",
            "method": "{{{request.method}}}"

        }
    ],
    "schedules": []
}
